/* line 7, ../src/print.scss */
.print-only {
  display: none !important;
}

@media print {
  /* line 11, ../src/print.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 18, ../src/print.scss */
  p a, p a:visited {
    color: #444444 !important;
    text-decoration: underline;
  }
  /* line 21, ../src/print.scss */
  p a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 23, ../src/print.scss */
  abbr[title]:after {
    content: " (" attr(href) ")";
  }

  /* line 25, ../src/print.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 27, ../src/print.scss */
  pre, blockquote {
    border: solid 1px #999999;
    page-break-inside: avoid;
  }

  /* line 30, ../src/print.scss */
  thead {
    display: table-header-group;
  }

  /* line 32, ../src/print.scss */
  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
}

  /* line 37, ../src/print.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 40, ../src/print.scss */
  h2, h3 {
    page-break-after: avoid;
  }

  /* line 42, ../src/print.scss */
  .hide-on-print {
    display: none !important;
  }

  /* line 44, ../src/print.scss */
  .print-only {
    display: block !important;
  }
}
@media print {
  /* line 48, ../src/print.scss */
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none !important;
  }

  /* line 49, ../src/print.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 50, ../src/print.scss */
  a:after {
    content: " (" attr(href) ")";
  }

  /* line 51, ../src/print.scss */
  abbr:after {
    content: " (" attr(title) ")";
  }

  /* line 52, ../src/print.scss */
  .ir a:after {
    content: "";
  }

  /* line 53, ../src/print.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 54, ../src/print.scss */
  thead {
    display: table-header-group;
  }

  /* line 55, ../src/print.scss */
  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
}

  /* line 57, ../src/print.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 58, ../src/print.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
