/*-----------------------------------------------------------------------------
[client]            Compiled Themes Stylesheet

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------
[client]            Default Colors Stylesheet

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/
/*
**	Default Colors
*/
/*-----------------------------------------------------------------------------
[client]            Theme Structure Stylesheet

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------
[client]            Blue Theme Stylesheet

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/
/*
**	Default Colors
*/
/*-----------------------------------------------------------------------------
[client]            Theme Structure Stylesheet

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------
[client]            Green Theme Stylesheet

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/
/*
**	Default Colors
*/
/*-----------------------------------------------------------------------------
[client]            Theme Structure Stylesheet

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/
