/*-----------------------------------------------------------------------------
[client]            IE6 Stylesheet

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/

$legacy-support-for-ie: true;
$legacy-support-for-ie6: $legacy-support-for-ie;
@import "compass/support";
.ie6 {
    
}