/*-----------------------------------------------------------------------------
[client]            IE 7 Stylesheet

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/

$legacy-support-for-ie: true;
$legacy-support-for-ie7: $legacy-support-for-ie;
@import "compass/support";
.ie7 {

}