/*-----------------------------------------------------------------------------
[client]            IE9 Stylesheet

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/

$legacy-support-for-ie: true;
$legacy-support-for-ie9: $legacy-support-for-ie;
@import "compass/support";
.ie9{
    
}