/*-----------------------------------------------------------------------------
[client]            Breadcrumbs Stylesheet

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/

#breadcrumbs {
	.container {
		div {
			display: inline;
		}
	}
}