/*-----------------------------------------------------------------------------
[client]            Tabs Stylesheet (accessible tabs jquery plugin)

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/

.tabs {
	.tabs-list {
		display: table-row;
		list-style: none outside;
		margin: 0;
		//Turn this off so tab items can wrap
		//white-space: nowrap; 

		li {
			float: left;
			> a {
				display: block;
				padding: 0 10px;
				padding: 0 1rem;
				margin: 0 1px;
				margin: 0 .1rem;
				line-height: 30px;
				line-height: 3rem;
				font-weight: bold;
				@include font-size(13);
				span.current-info { display: none;}
				&:hover { background: #0b628a;}
			}
			&.first a{ margin-left: 0;}
			&.last a{ margin-right: 0;}
			&.current a{
				position: relative;
				bottom: -1px;
				bottom: -.1rem;
				z-index: 100;
				border-bottom: 2px;
				border-bottom: .2rem;
			}
		}
	}
	.content {
		.tabhead { 
			position: absolute;
			left: -1000%;
			bottom: 0;
			display: block;
		}
		.tabbody {
			@extend .row;
			& > .block { 
				margin-left: 20px;
				margin-right: 20px;
				margin-left: $container-padding;
				margin-right: $container-padding;
			}
		}
	}
}
.js .tabs .current-info,
.js .tabs .accessibletabsanchor,
.js .tabs .tabhead /*position each individual tab's heading (default class .tabhead) off-screen*/ {
    position:absolute;
    left:-999em;
}
.js .tabs .content{
    clear:both;
}