/*-----------------------------------------------------------------------------
[client]            Tag Cloud Stylesheet (tag cloud jquery plugin by michael guild)

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/

ol.tagcloud{
	display: table-row;
	padding: 0;
	margin: 0;
	list-style-type: none;
	li {
	float: left;
		a {
			display: block;
			float: left; 
			text-decoration: none;
			text-transform: capitalize;
			margin-right: 2rem;
		}
		&:last-child { 
			margin-bottom: 20px;
			margin-bottom: $container-padding;
		}
	}
	.keyword-tag5{
		@include font-size(13);
		line-height: 13px;
		line-height: 1.3rem;
	}
	.keyword-tag4{
		@include font-size(17);
		line-height: 17px;
		line-height: 1.7rem;
	}
	.keyword-tag3{
		@include font-size(22);
		line-height: 22px;
		line-height: 2.2rem;
	}
	.keyword-tag2{
		@include font-size(27);
		line-height: 27px;
		line-height: 2.7rem;
	}
	.keyword-tag1{
		@include font-size(30);
		line-height: 30px;
		line-height: 3rem;
	}
}


	
	