/*-----------------------------------------------------------------------------
[client]            Tool Tip Stylesheet (beauty tips jquery plugin...will switch to qtip later)

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/

.tooltip {
}
.tooltip.icon{ border: none;}

#tooltip-content.bt-wrapper,
.tooltip-content{
    h3 {
        text-align: center;
        @include font-size(18);
    }
    p {
        margin: 0 0 8px;
        margin: 0 0 .8rem;
    }
    img{
        &.left{ 
            outline: none;
            padding-right: 8px;
            margin-right: 8px;
            padding-right: .8rem;
            margin-right: .8rem;
        }
        &.right{
            outline: none;
            padding-left: 8px;
            margin-left: 8px;
            padding-left: .8rem;
            margin-left: .8rem;
        }
    }
}