// Using "@media print" to avoid additional HTTP request to print.css
// Source: http://www.phpied.com/delay-loading-your-print-css/
// Credit: Paul Irish & HTML5 Boilerplate (http://html5boilerplate.com/)

.print-only {
  display: none !important; }

@media print {
  * {
    background: transparent !important;
    color: $black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }
  p {
    a, a:visited {
      color: #444444 !important;
      text-decoration: underline; }
    a[href]:after {
      content: " (" attr(href) ")"; } }
  abbr[title]:after {
    content: " (" attr(href) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }
  pre, blockquote {
    border: solid 1px #999999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr, img {
    page-break-inside: avoid; }
  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; }
  .hide-on-print {
    display: none !important; }
  .print-only {
    display: block !important; } 
}
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }  
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
