/*-----------------------------------------------------------------------------
[client]            Screen Stylesheet

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/

@import "media_queries/screen/960";
@import "media_queries/screen/720";
@import "media_queries/screen/640";
@import "media_queries/screen/480";
@import "media_queries/screen/320";