/*-----------------------------------------------------------------------------
[client]            Mobile 320 Stylesheet

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/
//************************************
//Iphones (Vertical) & Other Mobile Devices
//************************************
@media screen and (max-width: 320px) {

}