/*-----------------------------------------------------------------------------
[client]            Mobile 720 Stylesheet

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/

//************************************
//Android (Vertical) & Tablets
//************************************
@media screen and (max-width: 720px) {

}