/*-----------------------------------------------------------------------------
[client]            Blue Theme Stylesheet

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/

$theme-name: "blue";

$background-color: blue;
