/*
**	Default Colors
*/
$theme-name: "blue";

$anchor-color: #044ea8;
$anchor-hover-color: #044ea8;

$icon-color: #6ca7be;

$default-font-color: #333333;
$default-background-color: #ffffff;
$default-border-color: #e6e6e6;
$default-highlight-color: #ffcc00;

$body-background-color: #b4d7e1;
$body-background-color-gradiant: #a5cfdb;

// Navigation
$audience-background-color: #485462;
$audience-background-color-gradiant: #283646;
$audience-subnav-background-color: #dfeff3;

// Accordions
$accordion-head-background-color: #485462;
$accordion-head-background-color-gradiant: #283646;
$accordion-border-color: #999999;

// Tabs
$tab-color: #ffffff;
$tab-background-color: #5eb1c9;
$tab-hover-background-color: #0b628a;
$tab-active-color: #000000;
$tab-active-background-color: #ffffff;