/*-----------------------------------------------------------------------------
[client]            Default Colors Stylesheet

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/

$theme-name: "default";

$background-color: none;