/*
**	Default Colors
*/
$theme-name: "green";

$anchor-color: #48A504;
$anchor-hover-color: #497B07;

$icon-color: #48A504;

$default-font-color: #333333;
$default-background-color: #ffffff;
$default-border-color: #e6e6e6;
$default-highlight-color: #ffcc00;

$body-background-color: #48A504;
$body-background-color-gradiant: #497B07;

// Navigation
$audience-background-color: #48A504;
$audience-background-color-gradiant: #497B07;
$audience-subnav-background-color: #dfeff3;

// Accordions
$accordion-head-background-color: #48A504;
$accordion-head-background-color-gradiant: #497B07;
$accordion-border-color: #999999;

// Tabs
$tab-color: #ffffff;
$tab-background-color: #48A504;
$tab-hover-background-color: #497B07;
$tab-active-color: #000000;
$tab-active-background-color: #ffffff;