// #TODO: move theme stuff and module stuff

.block {
	position: relative;
	@extend .container;
	border-bottom-width: 1px;
	border-bottom-width: .1em; 
	border-bottom-style: solid;
	
	.block-header {
		padding-left: 10px;
		padding-left: 1rem;
		border-left-width: 8px;
		border-left-width: .8rem;
		border-left-style: solid;
	}
	.block-content {
		padding: 0 20px;
		padding: 0 $container-padding;
	}
	.block-footer {}
}
.columns .block:last-child {
	border: none;
}