/*-----------------------------------------------------------------------------
[client]            Font-Face Stylesheet

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/

@import "compass/css3";
 
// @include font-face("Blooming Grove", font-files("examples/bgrove.ttf", "examples/bgrove.otf"));
// .example {font-family: "Blooming Grove";}
// Use http://www.fontsquirrel.com/fontface/generator to auto Generate sass