/*-----------------------------------------------------------------------------
[client]            Helper classesStylesheet

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/

// Nicolas Gallagher's micro clearfix - http://nicolasgallagher.com/micro-clearfix-hack/
// For modern browsers
.clearfix {
  &:before, &:after { content: ""; display: table; }
  &:after { clear: both; } 
}
// For IE 6/7 (triggers hasLayout)
.clearfix { zoom: 1;}

// Positional Classes
.inline { display: inline-block;}
.left { float: left; }
.right { float: right; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

// Visual Classes
.hidden { display: none; visibility: hidden; } 
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);}
.invisible { visibility: hidden; }


// Colors for Testing
.red,
.blue,
.green,
.yellow{ @include opacity(0.5); }
.red {background:red;}.blue {background:blue;}.green {background:green;}.yellow {background:yellow;}