ul, ol, dl { 
    margin: 0 0 20px 20px;
    margin: 0 0 2rem 2rem;
}

ul {
  list-style: disc outside;
  &.square { list-style: square outside;}
  &.circle { list-style: circle outside;}
  &.disc { list-style: disc outside;} 
}
ol { list-style: decimal;}
ol, 
ul.square, 
ul.circle, 
ul.disc { margin-left: 30px;}
li { margin: 0;}

dl {
	margin: 0 0 15px 0;
    margin: 0 0 1.5rem 0;
	dt {
		font-weight: bold;
	}
}
dd {
	margin-left: 15px;
    margin-left: 15rem;
}