// #TODO: move Theme stuff

#toolbar{ text-align: right}

#share {
    margin-bottom: 20px;
    margin-bottom: 2rem;
    a{
        display: inline-block;
        @include font-size(12);
        line-height: 14px;
        line-height: 1.4rem;
        text-transform: capitalize;
        margin-left: 10px;
        margin-left: 1rem;
        &:hover { text-decoration: underline;}
    }
}

#change-page-view {
    overflow: hidden;
    float: right;
    p { 
        margin: 0 0 5px;
        margin: 0 0 .5rem;
    }
    a {
        overflow: hidden;
        text-transform: capitalize;
        @include font-size(13);
        font-weight: bold;
        white-space: nowrap;
        cursor: pointer;
        span, abbr {
            display: inline-block;
            height: 16px;
            height: 1.6rem;
            line-height: 16px;
            line-height: 1.6rem;
            margin: 0;
            padding: 0;
        }
        span {
            text-indent: 5px;
            text-indent: .5rem;
            vertical-align: middle;
            &:hover { text-decoration: underline;}
        }
        &.active span {
            
        }
        abbr {
            width: 16px;
            width: 1.6rem;
            text-align: center;
        }
	}
}