/*-----------------------------------------------------------------------------
[client]            Navigation Stylesheet

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/

#navigation {
	ul {
		list-style: none outside;
		margin: 0;
	}
}
.navigation {
	ul {
		display: table-row;
		padding: 0;
		margin: 0;
		list-style: none outside;

		//Turn this off so menu items can wrap
		//white-space: nowrap; 

		li {
			float: left;
			a {
				display: block;
				float: left; 
				text-decoration: none;
				text-transform: capitalize;
				&:hover{ text-decoration: underline;}
			}
		}
	}
}