/*-----------------------------------------------------------------------------
[client]            Navigation Stylesheet

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/