/*-----------------------------------------------------------------------------
[client]            Sprites Stylesheet

version:            1.0
date:               [date]
author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/


// Sprite Settings
$icons-spacing: 100px;
$icons-repeat: no-repeat;
$icons-position: 0;
$icons-sprite-dimensions: true;
@import "icons/*.png";

@include all-icons-sprites;

.icon{ 
    overflow: hidden;
	display: inline-block;
	text-indent: -9999px;
    color: transparent;
	border: none;
	outline: none;
}
p {
    .icon{
        vertical-align: middle;
    }
}
