/*-----------------------------------------------------------------------------
[client]            Structure Stylesheet (custom structure that Grid wont cover)

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/

#header { 
}

#article-header {
	#article-title {

	}
}
#article-content {
	#main-content { 
	}
	#related-content {
	}
}
#footer {
}