/*-----------------------------------------------------------------------------
[client]            Tables Stylesheet

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/

table {
  thead, tfoot {
    tr {
      th {
      } 
    }
  }
  tbody {
    tr {
      td {
      } 
    } 
  }
  tfoot {
    tr {
      td {
      } 
    } 
  }
}