body {

  @include background-image(image-url("trash/homepage.png"));
  background-position: center top;
  background-repeat: no-repeat;

  @include font-size($base-font-size);
  @include font-smoothing(antialiased);

  line-height: $base-line-height;
  color: $base-color;
  position: relative; 
}

#{headings(all)} {
  font-weight: bold;
  line-height: 1.25;

  small { color: #777777; }
  a { font-weight: inherit; } 
}

h1 {
  @include font-size(46);
  margin-bottom: 12px; 
}

h2 {
  @include font-size(35);
  margin-bottom: 9px; }

h3 {
  @include font-size(28);
  margin-bottom: 9px; }

h4 {
  @include font-size(21);
  margin-bottom: 3px; }

h5 {
  @include font-size(18);
  margin-bottom: 3px;
  font-weight: normal; }

h6 {
  @include font-size(15);
  font-weight: normal; }

.subheader {
  color: #777777;
  font-weight: 300;
  margin-bottom: 24px; }

p {
  @include font-size(13);
  
  line-height: 1.25;
  margin: 0 0 18px;
  
  img { margin: 0; }
  &.lead { @include font-size(18); line-height: 1.5; } 
}
a {
	text-decoration: none;
}
em, i {
  font-style: italic;
  line-height: inherit; 
}
strong, b {
  font-weight: bold;
  line-height: inherit; 
}
small {
  font-size: 60%;
  line-height: inherit; 
}
dfn {
	font-style: italic;
	font-weight: bold;
}
sup, sub {
	line-height: 0;
}
abbr, acronym {
  text-transform: uppercase;
  font-size: 90%;
  color: #222222;
  border-bottom: 1px solid #dddddd;
  cursor: help; 
}
abbr {
  text-transform: none; 
}
address {
	margin: 0 0 1.5em;
	font-style: italic;
}
blockquote {
  line-height: 20px;
  color: #777777;
  margin: 0 0 18px;
  padding: 9px 20px 0 19px;
  border-left: 1px solid #dddddd;
  p {
    line-height: 20px;
    color: #777777; 
  }
  cite {
    display: block;
    @include font-size(12);
    color: #555555;
    &:before {
      content: "/2014 /0020"; }
    a, a:visited {
      color: #555555; 
    } 
  } 
}
del {
  //color:;
}
pre {
	margin: 1.5em 0;
	white-space: pre;
}
pre, code, tt {
	//@include fixed-width-text;
}
li ul, li ol {
	margin: 0;
}
ul, ol {
	margin: 0 1.5em 1.5em 0;
	padding-left: 3.333em;
}
ul {
	list-style-type: disc;
}
ol {
	list-style-type: decimal;
}
dl {
	margin: 0 0 1.5em 0;
	dt {
		font-weight: bold;
	}
}
dd {
	margin-left: 1.5em;
}
table {
	margin-bottom: 1.4em;
	width: 100%;
}
th {
	font-weight: bold;
}
hr {
  border: solid #dddddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 12px 0 18px;
  height: 0; 
}