$legacy-support-for-ie: true;
$legacy-support-for-ie6: $legacy-support-for-ie;
$legacy-support-for-ie7: $legacy-support-for-ie;
$legacy-support-for-ie8: $legacy-support-for-ie;
@import "compass/support";

.ie6{
}
.ie7{
}
.ie8{
}
.ie9{
}