/*-----------------------------------------------------------------------------
[client]            Compiled Style Stylesheet

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/

// This import compass.
@import "compass";

// Mixins
@import "partials/sprites";
@import "mixins/mixins";

// Reset
@import "partials/reset";

// Import Gobal Settings, Colors & Variables
@import "partials/settings";

// Partials
@import "partials/grid";
@import "partials/structure";
@import "partials/blocks";
@import "partials/font-face"
@import "partials/helpers";
@import "partials/typography";
@import "partials/links";
@import "partials/tables";
@import "partials/lists";
@import "partials/forms";
@import "partials/navigation";
@import "partials/menu";


// Modules (tabs, carousels, accordions, Etc)
//@import "modules/tabs";
//@import "modules/accordions";
//@import "modules/breadcrumbs";
//@import "modules/tagcloud";
//@import "modules/tooltip";
//@import "modules/paginator";

// Media Queries
@import "media_queries/print/print";
@import "media_queries/foundation-mobile";
@import "media_queries/screen";
@import "media_queries/mobile";

// Cross Browser stuff for IE
@import "ie/ie6";
@import "ie/ie7";
@import "ie/ie8";
@import "ie/ie9";