/*-----------------------------------------------------------------------------
[client]            Screen 640 Stylesheet

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/

//************************************
//Iphone4 (Vertical) Ipad & Tablets
//************************************
@media screen and (max-width: 640px) {

}