/*-----------------------------------------------------------------------------
[client]            Screen 960 Stylesheet

author:             Michael Guild
email:              michaelguild13@gmail.com
website:            http://michaelguild13.wordpress.com/
-----------------------------------------------------------------------------*/

//************************************
//Iphone4 (Horrizontal) Ipad & Tablets
//************************************
@media screen and (max-width: 960px) {

}